body {
    margin: 0px;
    padding: 0px 0px 0px 0px;
	background:#282222;
    font-family: futura;
    color: #000000f;
    font-size:13px;
    text-align:center;
}
a {

}
a:hover {

}

a.button {
    display: inline-block;
    background: #9085a1;
    text-align: center;
    width: 100%;
    height: 47px;
    line-height: 50px;
    font-size: 12px;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-decoration: none;
    color:#ffffff;
    border-radius: 25px;
    margin-bottom:10px;
	max-width: 300px;
}

a.button.facebook {
    background: #3b5998;
}

a.button.twitter {
    background: #37c5d6;
}

a.button.action {
	background: #e23c2b;
}

a.button:hover {
    color: white;
    opacity: .8;
}

.buttoncontainer {
    position: absolute;
    left: 0px;
    width: 100%;
    top: 0px;
    text-align: center;
    padding-top: 10px;
    font-size: 30px;
    opacity: 0;
    display: none;
}

.reference {

}

.clickhere {
	background:#554a4a;
	border-radius:20px;
	text-decoration:none;
	color:#ffffff;
	font-size:10px;
	padding:8px 15px 6px 15px;
	margin-left:15px;
}

.clickherediv {
	margin-bottom:20px;
	display:inline-block;
}

a.clickhere:hover {
	opacity: .8;
}

.question {
	margin-bottom:10px;
	display:inline-block;
}

.sharefooter {
	bottom:0;
	width:100%;
	background-color:rgb(227, 229, 230);
	margin-top:25px;
	}

.statement {
	font-weight:500;
	font-size:35px;
	margin-bottom:20px;
	color:#ffffff;
	font-family:futura;	
}

.rejection {
	font-weight:500;
	font-size:35px;
	margin-bottom:20px;
	cursor:pointer;
	text-decoration: none;
	color:#000000;
}
.rejection:hover {
	text-decoration:underline;
}

.top {
	background-color:#e23c2b;
	padding-top:20px;
	padding-left:5%;
	padding-right:5%;
	padding-bottom:10px;
	background-image: url("../images/Redglobebackground.png");
	background-size:100%;
	background-repeat:no-repeat;
}

.bottom {
	background-color:#282222;
	color:#ffffff;
	padding-left:5%;
	padding-right:5%;
}

._call_shares button {
	border: none;
	color: white;
	display: block;
	font-size: 23px;
	font-variant: small-caps;
	opacity: 0.9;
	padding: 6px 0 15px;
	text-align: center;
	text-decoration: none;
	text-transform: lowercase;
	transition: opacity 150ms;
	width: 97%;
	border-radius:10px;
	margin: 0 5px;
	margin-bottom:5px;
	cursor:pointer;
	font-family:futura !important;
	height:40px;
}

._call_shares button:hover {
	opacity: 1;
}

._call_shares button::before {
	background-color: transparent;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: contain;
	content: '';
	display: inline-block;
	height: 21px;
	position: relative;
	width: 21px;
	margin-right:4px;
}

._call_shares {
	padding-bottom:20px !important;
	max-width:500px;
	width:93%;
	margin:0 auto;
}

._call_shares .facebook {
	background-color: #3b5998;
}

._call_shares .facebook::before {
	background-image: url('../images/fb-57.png');
	top: 1px;
}

._call_shares .twitter {
	background-color: #37c5d6;
}

._call_shares .twitter::before {
	background-image: url('../images/tw-57.png');
	top: 5px;
}

._call_shares .donate {
	background-color: #e23c2b;
}

._call_shares .donate::before {
	background-image: url('../images/heart-57.png');
	top: 4px;
}


div.petition {
	text-align: center;
	z-index: 2;
}

div.petition h2 {
	width: 100%;
	max-width: 900px;
	font-weight: 400;
	color: white;
	padding: .5rem 15px;
	text-align: center;
	margin: 0 auto 1rem auto;
}

div.petition textarea {
	display: none;
}

div.petition input {
	border: 1px solid #d2d2d2;
	border-radius: 10px;
	background: white;
	height: 40px;
	line-height: 40px;
	font-size: 1.2rem;
	width: 150px;
	margin: 1% 1%;
	padding: 0 10px;
	display: inline-block;
	vertical-align: top;
}

div.petition button {
	display: inline-block;
	border: 0 none transparent;
	background: #e23c2b;
	color: white;
	height: 50px;
	line-height: 55px;
	letter-spacing: 1px;
	border-radius: 10px;
	font-weight: 400;
	margin: 5px 4px 4px 4px;
	padding: 0 20px;
	text-transform: uppercase;
	vertical-align: top;
	cursor: pointer;
	font-family:futura;
	font-size: 16px;
	width:92%;
}

div.petition button:hover {
	background: #c13021;
}

div.petition .thanks {
	display: none;
	font-size: 2rem;
	padding: 2rem 15px 1rem 15px;
	color: white;
}

.disclosure {
	text-align: center;
	font-size: 10px !important;
	font-weight:normal !important;
	color: #000000;
	margin: -5px 0 -10px 0 !important;
}

[name="first_name"] {
  width:39% !important;
}

[name="email"] {
  width:39% !important;
}

[name="address1"] {
  width:57% !important;
}

[name="zip"] {
  width:21% !important;
}

.modal._petition_modal {
	background:#ffffff !important;
	border-radius:20px !important;
	max-width:500px !important;
	padding:2% !important;
}

.modal._call_modal {
	background:#ffffff !important;
	border-radius:20px !important;
	max-width:500px !important;
	padding:2% !important;
}

.overlay .gutter .modal._call_modal h2 {
	font-size:30px !important;
	font-weight:500 !important;
	line-height:37px !important;
	color:#000000 !important;
	margin-bottom:0px;
	padding-top:5px !important;
}

.modal._call_modal p {
	font-size:24px !important;
	line-height:28px !important;
	color:#000000 !important;
}

.overlay .gutter .modal._petition_modal p {
	font-size:38px;
	line-height: 48px !important;
	font-weight: 500;
	max-width:94%;
	margin: 15px auto;
}

@media screen and (max-width:395px) {

	.clickherediv {
		margin-bottom:25px;
		display:block;
	}

	div.petition button {
		font-size: 13px;
		width:94%;
	}

	.disclosure {
		font-size: 8px !important;
	}

}

@media screen and (min-width: 480px) {
	._call_shares {
		display: flex;
		justify-content: center;
	}

	div.petition button {
		font-size: 15px;
	}
}

@media screen and (min-width: 605px) and (max-width:845px) {

	body {
		font-size:13px;
		text-align:left;
	}

	.top {
		padding-top:35px;
		padding-left:5%;
		padding-right:5%;
		padding-bottom:15px;
	}

	.bottom {
		padding-top:15px;
		padding-left:5%;
		padding-bottom:15px;		
	}

	
	.left {
		border-right: 1px solid #ffffff;
		width:65%;
		float:left;
		min-height:140px;
		padding-top:15px;

	}

	.right {
		width:34%;
		display:inline-block;
		padding-top:5px;


	}

	.reference {

	}

	.rejection {
		font-size:50px;
		line-height:60px;
	}

	.statement {
		font-size:50px;
		line-height:60px;
		margin-bottom:25px;
	}

	a.button {
		width: 190px;
		margin: 0px 25px 15px 25px;
		height:35px;
		line-height:38px;
	}

	div.petition button {
		font-size: 1.25rem;
		width:89%;
	}

	.modal._petition_modal {
		margin-top:50px !important;
	}

	.modal._call_modal {
		margin-top:50px !important;
	}

}



@media screen and (min-width: 845px) {

	body {
		text-align:left;
		font-size:17px;
	}

	.top {
		padding-top:35px;
		padding-left:7%;
		padding-right:7%;
		padding-bottom:15px;
	}

	.bottom {
		padding-top:15px;
		padding-left:7%;
		padding-right:7%;
		padding-bottom:15px;		
	}

	
	.left {
		border-right: 1px solid #ffffff;
		width:65%;
		float:left;
		min-height:140px;
		padding-top:15px;

	}

	.right {
		width:34%;
		display:inline-block;
		padding-top:5px;


	}

	.reference {

	}

	.rejection {
		font-size:50px;
		line-height:60px;
	}

	.statement {
		font-size:50px;
		line-height:60px;
		margin-bottom:25px;
	}

	a.button {
		width: 190px;
		margin: 0px 25px 10px 25px;
	}

	div.petition button {
		font-size: 1.5rem;
		width:89%;
	}

}

@media screen and (min-width: 1200px) {

	.top {
		padding-left:10%;
		padding-right:10%;

	}

	.bottom {
		padding-left:10%;
		padding-right:10%;
	}

}

@media screen and (min-width: 800px) {
	._call_shares button {
		max-width: 300px;
	}
}